# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# DB_PREFIX is used to namespace the indexedDB database for the Drizzle store
# On create-t3-app this is set to the project name, since this is a template it is set to "TBA", but you can change it to whatever you want
DB_PREFIX="nextjs-d1-drizzle-cloudflare-pages"
DB_NAME="nextjs-d1-drizzle-cloudflare-pages" # The name of your D1 database

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
